.toolbar {
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: left;
  background-color: white;
  box-shadow: 0 0 4px rgba(169, 186, 206, 0.12), 0 4px 10px rgba(97, 118, 145, 0.2);
}

.toolbar button {
  color: #030E1B;
  font-size: 14px;
  line-height: 14px;
  padding: 6px 12px;
  border: rgba(0, 0, 0, 0.2) 1px solid;
}

.btn_group {
  margin: 0 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
}

.btn {
  margin: 0 4px;
  border-radius: 4px;
  background: #ffffff;
}

.btn_not_active {
  background: #ffffff;
}

.btn_active {
  background: rgba(0, 0, 0, 0.2);
  border: rgba(0, 0, 0, 0.3) 2px solid;
}

.btn_group button:not(:last-child) {
  border-right: none;
}

.btn_group button:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.btn_group button:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
