.header {
    font-size: 1.5rem;
    line-height: 3rem;
    margin-bottom: 2rem;
}

.form_box {
    background:white;
    width:400px;
    border-radius:4px;
    margin: 100px auto 0 auto;
    padding:0px 0px 40px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 4px rgba(169, 186, 206, 0.12), 0px 4px 10px rgba(97, 118, 145, 0.2);
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form label {
    color: #617691;
    font-weight: lighter;
    font-size: 14px;
}

.form input {
    margin: 4px 0 12px;
    border: #617691 1px solid;
    border-radius: 4px;
    height: 32px;
    width: 80%;
    padding-left: 5px;
}

.form input::placeholder {
    color: rgba(0, 0, 0, 0.3)
;
}